
 .header {
    padding: 18px;
    text-align: center;
    background: #1f3565;

    /* background: #eeeeee; */
    color: black;
    font-size: 30px;
  }

  .class-btnclr{
    background: #1f3565;
    color: black;
    font-size: 1.2em;
    font-weight: 500;
    outline: none !important;
  }

  .class-btnclr1{
    background: #1f3565;
    color: black;
    font-size: 1.2em;
    font-weight: 500;
    outline: none !important;
    margin: 6px;
    width: 84px
  }

  #curencySelect{
    width: 100%;
    height: 57%;
    border: 1px solid black;
    border-radius: 0.25rem;
  }

  select option {
    margin: 40px;   
}

  .form-control{
    padding:5px;
    background-color:#f7f7f7;
    border:1px solid black;
    }

    .clss-txtcolor{
      color: black;
      font-size: 100%;

    }
    .header-right{
      float: right;
    }
    .header-left{
      float: left;
    }
    .class-logoutval{
      margin: -96%;
      font-weight: 500;
      color: white;
      width: 10%;
      margin-top: -26%;
    margin-left: 67%;

    }

    .class-logoutimg{
      width: 10%;
    margin-top: -33%;
    margin-left: 20%;
    }
    .class-backval{
      margin: -129%;
      font-weight: 500;

    }

    .erromsg {
      color: red;
      font-size: 11px;
      text-align: center
     
    }

    input:focus, textarea:focus, select:focus{
     
outline: none !important;

  }

  .form-control:focus {
    border-color: black;
    box-shadow: none !important;
} 

.txtcolor{
  color: white;
}
 