<div class="header">
    <h1 class="txtcolor">SUBMITED TRANSACTION</h1>
    <div class="header-left">
        <span>
            <img width="70" alt="centered image" style="    margin-top: -55%;width: 154px;
            " src="/assets/mcbgroup.jpeg">
          </span> 
      </div>
      <div class="header-right">
        <span><img class="class-logoutimg" src="/assets/logoutNew.png"></span>
        <h3 class="class-logoutval" (click)="onClickval()">Logout</h3>    
      </div>
</div>
<div class="row  mb-5">
</div>
<div class="container">
    <table *ngIf="userDetails != undefined && userDetails.length > 0">
        <tr>
            <th>
                Customer Name
            </th>
            <th>
                Transfer Amount
            </th>
            <th>
                Transfer Currency
            </th>
            <th>Reference</th>
        </tr>
        <tr *ngFor="let item of userDetails;let i = index">
          <td> {{item.custName}}</td>                            
            <td>{{item.trnsfrAmnt}} </td>
            <td>{{item.trnsfrCurncy}} </td>
            <td>{{item.custRefe}} </td>
          </tr>        
    </table>
    <!-- <div *ngIf="userDetails == undefined && userDetails.length == 0">
      <h4>
        Nodata Available
      </h4>  
    </div> -->
</div>