.header {
    padding: 18px;
    text-align: center;
    /* background: #eeeeee; */
    background: #1f3565;

    color: black;
    font-size: 30px;
  }

  table {
    width: 100%;
    border: 1px solid black;

  }
  th{
    color: black;
    font-size: 1.2em;
    font-weight: 500;
  }
  
  td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
  }

  .header-right{
    float: right;
  }
  .header-left{
    float: left;
  }
  .class-logoutval{
    margin: -96%;
    font-weight: 500;
    color: white;


  }
  .class-backval{
    margin: -129%;
    font-weight: 500;
  }

  .txtcolor{
    color: white;
  }


  .class-logoutval{
    margin: -96%;
    font-weight: 500;
    color: white;
    width: 10%;
    margin-top: -26%;
  margin-left: 67%;

  }

  .class-logoutimg{
    width: 10%;
  margin-top: -33%;
  margin-left: 20%;
  }