.frstcard{
    font-size: x-large;
    font-weight: bold;
    text-align: center;   
}
.frstcard1{
    font-size: x-large;
    text-align: center;
    font-weight: bold;

}

.btn-click{
    text-align: center;
    align-items: center;

}

.class-new{
     font-weight: 1000;    
    font-weight: 1000;
    color: black;
    font-size: 111%;
   
}

.header {
    padding: 18px;
    text-align: center;
    background: #1f3565;
    /* background: #eeeeee; */
    color: black;
    font-size: 30px;
  }

  .class-cardform{
    width: 20rem;
    height: 15rem;
    background: #f7f5f1de;

  }

  .class-btnclr{
    background: #7e7a7a;
    color: black;
    font-size: 1.2em;
    font-weight: 500;
    outline: none !important;
  }

  .header-right {   
    float: right;
  }
  
  .class-logoutval{
    margin: -96%;
    font-weight: 500;
    color: white;

  }
  .class-backval{
    margin: -129%;
    font-weight: 500;
  }
  .header-left{
    float: left;
  }
.submited{
    margin-top: 8%;
    margin-left: 33%;
    width: 40%;

}

.newtrans{
    margin-left: 35%;
    width: 25%;
    margin-top: 7%;
}

.textalign{
  text-align: center;
  margin-top: 4%;
}

.txtcolor{
  color: white;
}

.class-logoutval{
  margin: -96%;
  font-weight: 500;
  color: white;
  width: 10%;
  margin-top: -26%;
margin-left: 67%;

}

.class-logoutimg{
  width: 10%;
margin-top: -33%;
margin-left: 20%;
}



  
  
  
  
  
  

  